.search {
  display: inline-block;
  padding-top: 30px;
  padding-left: 50px;
}
.button__search {
  margin-bottom: 5px;
  border: none;
  background-color: #fff;
}
.search-img {
  height: 50px;
  width: 50px;
}
.search__active {
  background-color: #a5a5a5;
  padding: 10px;
}
.input__search {
  font-size: 16px;
}
.input__counter {
  color: #fff;
  font-size: 14px;
}
.button__search img:first-child {
  display: block;
}
.button__search img:last-child {
  display: none;
}
.search._active .button__search img:first-child {
  display: none;
}
.search._active .button__search img:last-child {
  display: block;
}
.search._active .search__active {
  display: block;
}
